

.textField{
    background-color:var(--btn-color);
}
.singleCard{
    
    min-height: 100px;

    background-color: var(--post-it-color);
    margin: 5px;
   padding: 1rem;
  width:   calc(85)
}

button{
    background-color: var(--btn-color);
    align-self: flex-start;

    border-radius: 50%;
    width: 40px ;
    height: 40px;
}

.checkBoxField:checked  ~ ul{
    background-color: var(--btn-color);
}